/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2020, 06:42:34 PM
    Author     : eduar
*/

.Conteiner{
    border-radius: 15px;
    background-color: #0A0A15;
    width: 700px;
    height: 475px;
    margin-left: 300px;
    margin-top: 15px;
}

#tituloSec{
    color: white;
    text-align:center;
}

.Imagen{
    width: 450px;
    height: 350px;
    color: white;
    font-size: large;
    margin-left: 20px;
}

.edit{
    color: white;
    font-size: large;
    width: 650px;
    height: 350px;
    margin-left: 440px;
    margin-top: -350px
}

#mostrarimagen{
    margin-left: 115px;
    margin-top: 10px;
}

.botonModificar{
    margin-top: -5px ;
    margin-left: 270px;
    font-family: 'Times New Roman', Times, serif;
    width: 150px;
    height: 30px;
    font-size: medium;
    border: none;
}

