/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/11/2020, 08:48:39 AM
    Author     : eduar
*/

.fondo{
    margin-top: 0px;
    height: 630px;
    width: full;
    background-image: url("../assets/images/guardianes.png");
    background-size: 100% 100%;
}

.titulo{
    text-align: center;
}

.Registro{
    border-radius: 15px;
    background-color: #0A0A15;
    width: 450px;
    height: 475px;
    margin-left: 100px;
    margin-top: -600px;
    color: white;
}

#registro{
    margin-left: 805px;
    margin-top: -475px;
}

form{
    text-align: left;
    margin-left: 40px;
    margin-top: 45px;
    font-size: x-large;
}

.botonLogin{
   font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 30px;
    font-size: large;
    border: none;
    background-color: white;
    margin-top: 40px;
    margin-left: 130px;
}

.botonRegistrar{
   font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 30px;
    font-size: large;
    border: none;
    background-color: white;
    margin-top: 20px;
    margin-left: 130px; 
}

#mostrarimagen{
    height: 100px;
    width: 100px;
    margin-left: 130px;
    margin-top: -50px;
    
}



