body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.encabezado{
    height: 100px;
    background-color: #2F2929;
}

#titulo{
    width: 100px;
}

#barrabuscador{
    position: relative;
    display: inline-block;
    top: -75px;
}

#BotonBuscar{
     border-radius: 10px;
    width: 100px;
    height: 35px;
    font-size: large;
    margin-left: -110px;
    background-color: white;
    border: white;
}

#buscador{
    border-radius: 10px;
    width: 400px;
    height: 35px;
    font-size: large;
    text-align: left;
    margin-left: 450px;
    margin-top: -450px;
    display: inline;
}

#InfoUsuario{
    position: relative;
    display: inline-block;
    top: -75px;
    margin-left: 230px;
}

#Usuario{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    background-color: #2F2929;
    border: white;
    text-align: right;
    width: 160px;
    height: 25px;
    margin-top: 10px;
}

#Sesion{
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: left;
    background-size: 100% 100%;
    margin-left: -50px;
}


.navegacion{
    display: inline-block;
    margin-left: 350px;
    width: 700px;
}

nav form {
    display: inline-block;
}

nav li{
    display: inline-block;
}



.boton{
   font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 30px;
    font-size: large;
    border: none;
    background-color: white;
}

.boton:hover{
    background-color: gray;
}

.nv{
    margin-top: -45px;
}

.nv li img{
   list-style: none;
   margin-left: 150px;
   text-decoration: none;
   display: block;
}

.nv li a{
    margin-left: 60px;
    background-color: #2F2929;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    text-align:right;
    font-size: small;
}

.nv li img:hover{
    background-color: gray;
}

.nv li a:hover{
    background-color: gray;
}

ul, ol{
    list-style: none;
}

.nv li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nv li:hover > ul{
    display:block;
}

.contenedor{
    width: 700px;
    margin-left: 450px;
    margin-top: 10px;
}

.nombreGlobal{
    text-align: right;
    padding-right: 80px;
    color: white;
}

div.comentarios{
    background-color: white;
    width: 894px;
    color: black;
    border:black;
    border-style: solid;
    
}

#UsCom{
    margin-top: 0px;
    font-weight: bold;
}
#comen{
    font-weight: normal;
    margin-top: -15px;
}