
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/12/2020, 12:24:38 PM
    Author     : eduar
*/

.cont{
    height: 450px;
    width: 1000px;
    margin-left: 180px;
    margin-top: -20px;
    
}

.tit{
    text-align: center;
}

.datos{
    margin-top: -10px;
    height: 350px;
    width: 500px;
    margin-left: 20px;
}
.im{
    height: 350px;
    width: 500px;
    margin-left: 500px;
    margin-top: -368px;
  
}

input{
    font-size: large;
}

select{
    font-size: large;
}

input.file{
    margin-top: 100px;
}

input.botonRegistrar{
    margin-left: 480px;
}

#mostrarimagen{
    margin-top: -50px;
    margin-left: 200px;
     height: 200px;
    width: 200px;
}
